<!DOCTYPE html>
<html>
<head>
    <title>Lista de Itens</title>
</head>
<body>
    <h1>Lista de Itens</h1>
    <a href="{% url 'item_create' %}">Adicionar Novo Item</a>
    <ul>
        {% for item in items %}
            <li>
                {{ item.nome }} - R$ {{ item.preco }} 
                <a href="{% url 'item_update' item.pk %}">Editar</a>
                <form action="{% url 'item_delete' item.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <input type="submit" value="Remover">
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
